In [23]:
import pandas as pd

In [2]:
#стр. 314
keys = ['data1', 'data2', 'key1', 'key2']
values = [[-0.204708, 1.393406, 'a', 'one'], [0.478943, 0.092908, 'a', 'two'], [-0.519439, 0.281746, 'b', 'one'], [-0.555730, 0.769023, 'b', 'two'], [1.965781, 1.246435, 'a', 'one']]
entries = []
for cur_values in values:
    entries.append(dict(zip(keys, cur_values)))
entries

[{'data1': -0.204708, 'data2': 1.393406, 'key1': 'a', 'key2': 'one'},
 {'data1': 0.478943, 'data2': 0.092908, 'key1': 'a', 'key2': 'two'},
 {'data1': -0.519439, 'data2': 0.281746, 'key1': 'b', 'key2': 'one'},
 {'data1': -0.55573, 'data2': 0.769023, 'key1': 'b', 'key2': 'two'},
 {'data1': 1.965781, 'data2': 1.246435, 'key1': 'a', 'key2': 'one'}]

In [3]:
df = pd.DataFrame(entries)
df

      data1     data2 key1 key2
0 -0.204708  1.393406    a  one
1  0.478943  0.092908    a  two
2 -0.519439  0.281746    b  one
3 -0.555730  0.769023    b  two
4  1.965781  1.246435    a  one

In [4]:
grouped = df.groupby('key1')
grouped

In [5]:
list(grouped)

[('a',
        data1     data2 key1 key2
  0 -0.204708  1.393406    a  one
  1  0.478943  0.092908    a  two
  4  1.965781  1.246435    a  one),
 ('b',
        data1     data2 key1 key2
  2 -0.519439  0.281746    b  one
  3 -0.555730  0.769023    b  two)]

In [6]:
list(grouped)[0][1]

      data1     data2 key1 key2
0 -0.204708  1.393406    a  one
1  0.478943  0.092908    a  two
4  1.965781  1.246435    a  one

In [7]:
grouped['data1']

In [8]:
list(grouped['data1'])

[('a',
  0   -0.204708
  1    0.478943
  4    1.965781
  Name: data1, dtype: float64),
 ('b',
  2   -0.519439
  3   -0.555730
  Name: data1, dtype: float64)]

In [9]:
grouped['data1'].quantile(0.9)

key1
a    1.668413
b   -0.523068
Name: data1, dtype: float64

In [10]:
type(grouped['data1'].quantile(0.9))

pandas.core.series.Series

In [11]:
grouped['data1'].quantile(1)

key1
a    1.965781
b   -0.519439
Name: data1, dtype: float64

In [12]:
def peak_to_peak(arr):
    print('---')
    print(type(arr))
    print(arr)
    print(arr.max(), arr.min())
    return arr.max() - arr.min()

In [13]:
list(grouped)

[('a',
        data1     data2 key1 key2
  0 -0.204708  1.393406    a  one
  1  0.478943  0.092908    a  two
  4  1.965781  1.246435    a  one),
 ('b',
        data1     data2 key1 key2
  2 -0.519439  0.281746    b  one
  3 -0.555730  0.769023    b  two)]

In [14]:
res = grouped.agg(peak_to_peak)
res

---
<class 'pandas.core.series.Series'>
0   -0.204708
1    0.478943
4    1.965781
Name: data1, dtype: float64
1.965781 -0.204708
---
<class 'pandas.core.series.Series'>
2   -0.519439
3   -0.555730
Name: data1, dtype: float64
-0.519439 -0.55573
---
<class 'pandas.core.series.Series'>
0    1.393406
1    0.092908
4    1.246435
Name: data2, dtype: float64
1.393406 0.092908
---
<class 'pandas.core.series.Series'>
2    0.281746
3    0.769023
Name: data2, dtype: float64
0.769023 0.281746
---
<class 'pandas.core.series.Series'>
0    one
1    two
4    one
Name: key2, dtype: object
two one
---
<class 'pandas.core.series.Series'>
0    one
1    two
4    one
Name: a, dtype: object
two one

/home/ivan/.local/lib/python3.8/site-packages/pandas/core/groupby/generic.py:303: FutureWarning: Dropping invalid columns in SeriesGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the aggregating function.
  results[key] = self.aggregate(func)

         data1     data2
key1
a     2.170489  1.300498
b     0.036291  0.487277

In [15]:
type(res)

pandas.core.frame.DataFrame

In [16]:
res.loc['a']

data1    2.170489
data2    1.300498
Name: a, dtype: float64

In [17]:
list(grouped)[0][1]['key2']

0    one
1    two
4    one
Name: key2, dtype: object

In [18]:
max_ = list(grouped)[0][1]['key2'].max()
max_

'two'

In [19]:
min_ = list(grouped)[0][1]['key2'].min()
min_

'one'

In [20]:
max_ - min_

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [21]:
max_ + min_

'twoone'

In [22]:
df

      data1     data2 key1 key2
0 -0.204708  1.393406    a  one
1  0.478943  0.092908    a  two
2 -0.519439  0.281746    b  one
3 -0.555730  0.769023    b  two
4  1.965781  1.246435    a  one

In [23]:
df['data1']

0   -0.204708
1    0.478943
2   -0.519439
3   -0.555730
4    1.965781
Name: data1, dtype: float64

In [24]:
df['data1'].agg('median')

-0.204708

In [25]:
sorted(list(df['data1']))

[-0.55573, -0.519439, -0.204708, 0.478943, 1.965781]

In [26]:
pd.core.series.Series([4, 5, 6]).loc[1]

5

In [ ]:
#Регулярки book

In [27]:
import re

In [30]:
text = "foo        bar\t baz \tqux"

In [31]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [32]:
regex = re.compile('\s+')

In [33]:
type(regex)

re.Pattern

In [34]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [35]:
regex.findall(text)

['        ', '\t ', ' \t']

In [36]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [78]:
pattern = '[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}'

In [79]:
type(re.IGNORECASE)

In [80]:
# Флаг re.IGNORECASE делает регулярное выражение нечувствительным к регистру
regex = re.compile(pattern, flags=re.IGNORECASE)

In [81]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [42]:
#Из lesson2
example = "{'from': 4000, 'to': 6000, 'currency': 'USD', 'gross': True}"

In [43]:
import re

In [44]:
def ownsplit(x):
  return [y for y in re.split('[ ,:{}]|\'from\'|\'currency\'|\'to\'|\'gross\'', x) if len(y) > 0]

In [45]:
ownsplit(example)

['4000', '6000', "'USD'", 'True']

In [46]:
regex = re.compile('[ ,:{}]|\'from\'|\'currency\'|\'to\'|\'gross\'')

In [47]:
regex.findall(example)

['{',
 "'from'",
 ':',
 ' ',
 ',',
 ' ',
 "'to'",
 ':',
 ' ',
 ',',
 ' ',
 "'currency'",
 ':',
 ' ',
 ',',
 ' ',
 "'gross'",
 ':',
 ' ',
 '}']

In [48]:
re.split('[ ,:{}]|\'from\'|\'currency\'|\'to\'|\'gross\'', example)

['',
 '',
 '',
 '',
 '4000',
 '',
 '',
 '',
 '',
 '6000',
 '',
 '',
 '',
 '',
 "'USD'",
 '',
 '',
 '',
 '',
 'True',
 '']

In [50]:
#Coursera
html = "Курс евро на сегодня 68,7514, курс евро на завтра 67,8901"
re.findall(r'Евро\D+(\d+,\d+)', html, re.IGNORECASE)

['68,7514', '67,8901']

In [54]:
regex = re.compile(r'Евро\D+(\d+,\d+)', flags=re.IGNORECASE)

In [55]:
regex.findall(html)

['68,7514', '67,8901']

In [56]:
re.findall(r'Евро.*(\d+,\d+)', html, re.IGNORECASE)

['7,8901']

In [57]:
re.findall(r'Евро.*?(\d+,\d+)', html, re.IGNORECASE)

['68,7514', '67,8901']

In [69]:
#Регулярки book (продолжение)
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [84]:
regex.sub('замена', text)

'Dave замена\nSteve замена\nRob замена\nRyan замена\n'

In [63]:
re.sub

In [82]:
pattern

'[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}'

In [83]:
re.sub(pattern, 'замена', text)

'Dave dave@google.com\nSteve steve@gmail.com\nRob rob@gmail.com\nRyan ryan@yahoo.com\n'

In [87]:
#IGNORECASE
re.sub(pattern, 'замена', text, flags=re.IGNORECASE)

'Dave замена\nSteve замена\nRob замена\nRyan замена\n'

In [85]:
text

'Dave dave@google.com\nSteve steve@gmail.com\nRob rob@gmail.com\nRyan ryan@yahoo.com\n'

In [86]:
re.findall(pattern, text)

[]

In [90]:
#Избавляемся от лишних "
hard_str = '"sda "asdkkkasd"'
re.sub('"', ' ', hard_str)

' sda  asdkkkasd '

In [2]:
#Flask # flask_ngrok_example.py
from flask import Flask
from flask_ngrok import run_with_ngrok

app = Flask(__name__)
run_with_ngrok(app)  # Start ngrok when app is run

@app.route("/")
def hello():
    return "Hello World!"

if __name__ == '__main__':
    app.run()

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://8392-95-25-227-119.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

In [12]:
#Продолжение lesson3
import requests

resp = requests.post('http://405c-95-25-227-119.ngrok.io', json={'city': 'Пермь'})
resp

In [11]:
resp.text

'{"avg(salary)":{"0":41455.8823529412}}'

In [14]:
#hh.ru API
resp_2 = requests.get('https://api.hh.ru/dictionaries')
resp_2

In [19]:
resp_2.json().keys()

dict_keys(['vacancy_label', 'resume_access_type', 'vacancy_search_order', 'vacancy_search_fields', 'vacancy_type', 'gender', 'preferred_contact_type', 'travel_time', 'relocation_type', 'business_trip_readiness', 'resume_contacts_site_type', 'employer_type', 'employer_relation', 'negotiations_state', 'applicant_negotiation_status', 'negotiations_participant_type', 'negotiations_order', 'resume_moderation_note', 'vacancy_relation', 'resume_status', 'resume_search_logic', 'resume_search_fields', 'messaging_status', 'employer_active_vacancies_order', 'employer_archived_vacancies_order', 'employer_hidden_vacancies_order', 'applicant_comments_order', 'vacancy_not_prolonged_reason', 'vacancy_site', 'resume_hidden_fields', 'experience', 'employment', 'schedule', 'education_level', 'currency', 'vacancy_billing_type', 'applicant_comment_access_type', 'vacancy_cluster', 'driver_license_types', 'language_level', 'working_days', 'working_time_intervals', 'working_time_modes', 'resume_search_label', 'resume_search_relocation', 'resume_search_order', 'resume_search_experience_period'])

In [20]:
resp_2.json()['vacancy_search_fields']

[{'id': 'name', 'name': 'в названии вакансии'},
 {'id': 'company_name', 'name': 'в названии компании'},
 {'id': 'description', 'name': 'в описании вакансии'}]

In [28]:
np.random.randn(5, 2)

array([[-1.05448894, -0.88207591],
       [ 0.46213621,  0.18409861],
       [-0.01466169,  2.85204653],
       [-1.96262861,  0.12941936],
       [-0.8138268 ,  1.24819858]])

In [27]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 2), columns=["A", "B"])
df

          A         B
0  0.335934 -1.397511
1 -1.648338  0.910000
2  0.318420 -0.852604
3 -0.445658  1.053150
4 -0.274753  1.691410

In [21]:
def color_negative(v, color):
    return f"color: {color};" if v < 0 else None

In [31]:
type(df.style.applymap(color_negative, color='red'))

pandas.io.formats.style.Styler

In [29]:
df.style.applymap(color_negative, color='red')

In [30]:
df

          A         B
0  0.335934 -1.397511
1 -1.648338  0.910000
2  0.318420 -0.852604
3 -0.445658  1.053150
4 -0.274753  1.691410

In [43]:
d = {'vacancy': 'аркетолог'}
resp_3 = requests.post('http://94dc-95-25-227-119.ngrok.io/show1', json=d)
resp_3

In [44]:
resp_3.text

'{"vacancy": "91519.67213114754"}'

In [45]:
resp_3.json()

{'vacancy': '91519.67213114754'}

In [39]:
import json

In [42]:
json.dumps(d)

'{"vacancy": "\\u0430\\u0440\\u043a\\u0435\\u0442\\u043e\\u043b\\u043e\\u0433"}'